<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="youtube_dl_gui.Configurations.Downloads" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Configurations.Saved" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Configurations.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Batch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Errors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Converts" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Saved" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Converter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Downloads" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="youtube_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="youtube_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <youtube_dl_gui.Configurations.Downloads>
            <setting name="downloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="separateDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFormatQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteYtdlOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useYtdlUpdater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fileNameSchema" serializeAs="String">
                <value>%(title)s-%(id)s.%(ext)s</value>
            </setting>
            <setting name="fixReddit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="separateIntoWebsiteURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="subtitlesLanguages" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="CloseDownloaderAfterFinish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveVideoInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveAnnotations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryAttempts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadLimitType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ForceIPv4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceIPv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoDownloadSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioDownloadAsVBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOriginalFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipBatchTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticallyDownloadFromProtocol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferFFmpeg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparateBatchDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDateToBatchDownloadFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YtdlType" serializeAs="String">
                <value>0</value>
            </setting>
        </youtube_dl_gui.Configurations.Downloads>
        <youtube_dl_gui.Configurations.Saved>
            <setting name="downloadType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseStaticYtdl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertSaveAudioIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="videoQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audioQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioVBRQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchFormX" serializeAs="String">
                <value>-32000</value>
            </setting>
            <setting name="BatchFormY" serializeAs="String">
                <value>-32000</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SettingsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileNameSchemaHistory" serializeAs="String">
                <value>%(title)s-%(id)s.%(ext)s|%(uploader)s\(%(playlist_index)s) %(title)s-%(id)s.%(ext)s</value>
            </setting>
            <setting name="DownloadCustomArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomArgumentsIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
        </youtube_dl_gui.Configurations.Saved>
        <youtube_dl_gui.Configurations.General>
            <setting name="UseStaticYtdl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ytdlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseStaticFFmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdatesOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoverOverURLTextBoxToPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURLOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCustomArgs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ClearClipboardOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadBetaVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extensionsName" serializeAs="String">
                <value />
            </setting>
            <setting name="extensionsShort" serializeAs="String">
                <value />
            </setting>
        </youtube_dl_gui.Configurations.General>
        <youtube_dl_gui.Settings.General>
            <setting name="UseStaticYtdl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ytdlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseStaticFFmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdatesOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoverOverURLTextBoxToPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURLOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCustomArgs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ClearClipboardOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadBetaVersions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="extensionsName" serializeAs="String">
                <value />
            </setting>
            <setting name="extensionsShort" serializeAs="String">
                <value />
            </setting>
        </youtube_dl_gui.Settings.General>
        <youtube_dl_gui.Batch>
            <setting name="SelectedType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SelectedVideoQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedVideoFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedAudioQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedAudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadVideoSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadAudioVBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedAudioQualityVBR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomArguments" serializeAs="String">
                <value />
            </setting>
        </youtube_dl_gui.Batch>
        <youtube_dl_gui.Settings>
            <setting name="extensionsName" serializeAs="String">
                <value />
            </setting>
            <setting name="extensionsShort" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageFile" serializeAs="String">
                <value />
            </setting>
        </youtube_dl_gui.Settings>
        <youtube_dl_gui.Errors>
            <setting name="detailedErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="suppressErrors" serializeAs="String">
                <value>False</value>
            </setting>
        </youtube_dl_gui.Errors>
        <youtube_dl_gui.Converts>
            <setting name="detectFiletype" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clearInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoBitrate" serializeAs="String">
                <value>7500</value>
            </setting>
            <setting name="videoPreset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="videoProfile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="videoCRF" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="videoFastStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hideFFmpegCompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audioBitrate" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="videoUseBitrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoUsePreset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoUseProfile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoUseCRF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="audioUseBitrate" serializeAs="String">
                <value>True</value>
            </setting>
        </youtube_dl_gui.Converts>
        <youtube_dl_gui.Saved>
            <setting name="downloadType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseStaticYtdl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertSaveAudioIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convertCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="videoQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audioQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VideoFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioVBRQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BatchFormX" serializeAs="String">
                <value>-32000</value>
            </setting>
            <setting name="BatchFormY" serializeAs="String">
                <value>-32000</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SettingsFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileNameSchemaHistory" serializeAs="String">
                <value>%(title)s-%(id)s.%(ext)s|%(uploader)s\(%(playlist_index)s) %(title)s-%(id)s.%(ext)s</value>
            </setting>
            <setting name="DownloadCustomArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomArgumentsIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>-32000, -32000</value>
            </setting>
        </youtube_dl_gui.Saved>
        <youtube_dl_gui.Converter>
            <setting name="detectFiletype" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clearOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clearInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="videoBitrate" serializeAs="String">
                <value>7500</value>
            </setting>
            <setting name="videoPreset" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="videoProfile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="videoCRF" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="videoFastStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customConversion" serializeAs="String">
                <value />
            </setting>
            <setting name="hideFFmpegCompile" serializeAs="String">
                <value>False</value>
            </setting>
        </youtube_dl_gui.Converter>
        <youtube_dl_gui.Downloads>
            <setting name="downloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="separateDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFormatQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteYtdlOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useYtdlUpdater" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fileNameSchema" serializeAs="String">
                <value>%(title)s-%(id)s.%(ext)s</value>
            </setting>
            <setting name="fixReddit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="separateIntoWebsiteURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="subtitlesLanguages" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="CloseDownloaderAfterFinish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ProxyIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveVideoInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveAnnotations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RetryAttempts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DownloadLimitType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ForceIPv4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceIPv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LimitDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedSubtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedThumbnails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoDownloadSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AudioDownloadAsVBR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOriginalFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteMetadata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipBatchTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticallyDownloadFromProtocol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PreferFFmpeg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeparateBatchDownloads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDateToBatchDownloadFolders" serializeAs="String">
                <value>True</value>
            </setting>
        </youtube_dl_gui.Downloads>
        <youtube_dl_gui.General>
            <setting name="UseStaticYtdl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ytdlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseStaticFFmpeg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckForUpdatesOnLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HoverOverURLTextBoxToPaste" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURLOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveCustomArgs" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ClearClipboardOnDownload" serializeAs="String">
                <value>False</value>
            </setting>
        </youtube_dl_gui.General>
        <youtube_dl_gui.Properties.Settings>
            <setting name="firstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkippedVersion" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SkippedBetaVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguageFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SkipInternalEnglish" serializeAs="String">
                <value>False</value>
            </setting>
        </youtube_dl_gui.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <youtube_dl_gui.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>2.252</value>
            </setting>
            <setting name="LastDebugDate" serializeAs="String">
                <value>2021-08-01</value>
            </setting>
            <setting name="IsBetaVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BetaVersion" serializeAs="String">
                <value>2.26-pre4</value>
            </setting>
        </youtube_dl_gui.Properties.Settings>
    </applicationSettings>
</configuration>