<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="youtube_dl_gui.Resources.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="youtube_dl_gui.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="youtube_dl_gui.Advanced" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="youtube_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="youtube_dl_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <youtube_dl_gui.Resources.Settings>
            <setting name="HoverURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteAfterClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateLastUpdated" serializeAs="String">
                <value>2017-06-10</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DaysBetweenUpdate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaveToMaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveArgs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vidFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vidQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveDlParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convQualityAud" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convQualityVid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveConvParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="sortDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logErrorFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="youtubedlDir" serializeAs="String">
                <value />
            </setting>
            <setting name="staticYTD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convVidBit" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="dlType" serializeAs="String">
                <value>0</value>
            </setting>
        </youtube_dl_gui.Resources.Settings>
        <youtube_dl_gui.Settings>
            <setting name="HoverURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteAfterClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateLastUpdated" serializeAs="String">
                <value>2017-06-10</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="DaysBetweenUpdate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaveToMaster" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveArgs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="updateCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vidFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vidQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveDlParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="convFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="convQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveConvParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savedArgs" serializeAs="String">
                <value/>
            </setting>
            <setting name="sortDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logErrorFiles" serializeAs="String">
                <value>True</value>
            </setting>
        </youtube_dl_gui.Settings>
        <youtube_dl_gui.Advanced>
            <setting name="disableErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.1; WOW64; rv:55.0) Gecko/20100101 Firefox/55.0</value>
            </setting>
        </youtube_dl_gui.Advanced>
        <youtube_dl_gui.Properties.Settings>
            <setting name="ytDLVersion" serializeAs="String">
                <value>2017.09.01</value>
            </setting>
            <setting name="runningUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cloudVersion" serializeAs="String">
                <value>-1</value>
            </setting>
        </youtube_dl_gui.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <youtube_dl_gui.Properties.Settings>
            <setting name="currentVersion" serializeAs="String">
                <value>1.64</value>
            </setting>
        </youtube_dl_gui.Properties.Settings>
    </applicationSettings>
</configuration>
